.home{
    background-color: yellow;
}
h1{
    color: red;
    font-size: 36px;
}
p{
    color: blue;
    font-sixe: 20px;
}
.about{
    background-color: green;
}
h1{
    color: red;
    font-size: 36px;
}
p{
    color: blue;
    font-sixe: 20px;
}
    .contact{
        background-color: grey;
    }
    h1{
        color: red;
        font-size: 36px;
    }
    p{
        color: blue;
        font-sixe: 20px;
    